

#Home{

background-image: url("../../asset/banner-1.png");
background-repeat: no-repeat;
background-position: left bottom;
background-size: cover;

width: 100%;
padding: 6em 0;

#ConteinerHome{

padding: 0 40px;

#BoxHome{

display: flex;
align-items: center;
padding: 20px 10px;

.ConteinerText{

display: flex;
font-family: var(--fontTitle);
color: #fff;

width: 50%;

.BoxText{

padding: 0 10px; 

h1{
font-size: 3.5em;
font-weight: 800;
line-height: 1.1;
}

p{
font-size: 1em;
opacity: 0.8; 
margin-top: 0.5em;
line-height: 2;
}

button{

background-color: #131a48;
color: #fff;
padding: 1em 2em;
border-radius: 30px;
border: none;
display: inline-block;
font-weight: 600;
margin-top: 3em;

&:hover{
color: #131a48;
background-color: #fff;
}

i{
font-size: 2em;
}

}

}

}

.ConteinerImage{

width: 50%;

.BoxImagem{

padding: 0 40px;
display: flex;
justify-content: center;

img{

width: 100%;
height: auto;

}

}

}

}

}

}

#Sobre{

padding: 6em 0;
width: 100%;

#ConteinerSobre{

display: flex;
align-items: center;
padding: 0 20px;

.ConteinerTextSobre{

width: 50%;

.BoxTextSobre{

padding: 0 40px;
line-height: 3.5;
font-family: var(--fontTitle);
color: #000;

h3{
font-size: 1.5em;
color: #2273f8;
line-height: 1;
}

h1{
font-size: 2em;
font-weight: 800;
line-height: 1.4;
margin: 0 0 10px
}

p{
font-size: 1em;
opacity: 0.8;
line-height: 1.5;
}

ul{

padding-top: 1em;
line-height: 2;

li{
font-size: 1em;
font-weight: bold;

}

}


}

}

.ConteinerImgSobre{

width: 50%;

.BoxImgSobre{

padding: 0 20px;

img{

width: 100%;
height: auto;
border-radius: 20px;

}

}

}

}

}

#Servicos{

padding: 3em 0;
width: 100%;

#ConteinerServicos{

display: flex;
flex-direction: column;
align-items: center;
padding: 0 40px;

.ConteinerCabecalho{

display: flex;
align-items: center;
justify-content: center;
width: 50%;

margin-bottom: 3em;

.BoxTextCabecalho{

text-align: center;
flex-wrap: wrap;

padding: 0 20px;
line-height: 1.5;
font-family: var(--fontTitle);
color: #000;

h1{

font-size: 2.5em;
font-weight: 800;


}

p{
font-size: 1em;
opacity: 0.8;
}

}

}

.ConteinerService{

padding: 3em 20px;

.BoxService{

display: flex;
flex-wrap: wrap;
padding: 0 10px;


}

}

}

}


#Produto{

padding: 3em 0;
width: 100%;

#ConteinerProduto{

display: flex;
flex-direction: column;
align-items: center;
padding: 0 40px;

.ConteinerCabecalhoProduto{

display: flex;
justify-content: center;
flex-wrap: wrap;
width: 50%;
margin-bottom: 3em;

.BoxTextProduto{

padding: 0 20px;
font-family: var(--fontTitle);
color: #000;
text-align: center;
line-height: 2;

h1{
font-weight: 800;
font-size: 2.5em;
line-height: 1.3;
padding-bottom: 0.5em;

}

p{
font-size: 1em;
opacity: 0.8;
line-height: 1.5;

}

}

}

.ConteinerProdutos{

padding: 0 20px;

.BoxProduto{

padding: 0 10px;
display: flex;
align-items: center;
gap: 1em;
flex-wrap: wrap;

}

}

}

}

#Reviews{

padding: 6em 0;
width: 100%;
background-image: url("../../asset/banner-1.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

#ConteinerReviews{

display: flex;
flex-direction: column;
align-items: center;
padding: 0 40px;

.ConteinerCabecalo{

display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
width: 50%;
padding-bottom: 3.5em;
margin: 0 -25px;

.BoxText{


color: #fff;
text-align: center;
font-family: var(--fontTitle);
line-height: 2.5;
padding: 0 40px;

h1{
font-size: 2.5em;
font-weight: 800;
line-height: 40px;
padding-bottom: 0.5em;
}

p{
font-size: 1em;
opacity: 0.8;
line-height: 1.5;
}

}

}

.ConteinerReview{

display: flex;
flex-wrap: wrap;
position: relative;
z-index: 1;
overflow: hidden;

#ConteinerCarrosel{

display: flex;
width: 100%;
transition: transform 0.5s ease-in-out;

.SlideReview{

min-width: 100%;
padding-bottom: 4em;


.BoxSlides{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

color: #fff;
font-family: var(--fontTitle);
line-height: 2;
text-align: center;

.conteinerPerfil{

padding: 0 10px;
line-height: 1.5;
padding-bottom: 1em;

img{

width: 80%;
border-radius: 50%;
height: auto;

}

h3{
font-size: 1.5em;
font-weight: 600;
margin: 0;
}

h5{
font-size: 1em;
opacity: 0.8;
}

}

.ConteinerText{

width: 50%;

.BoxText{

padding: 0 20px;

p{
font-size: 1em;
opacity: 0.8;
}

}

}

.ConteinerStar{

font-family: IcoFont !important;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
line-height: 1;

padding-top: 1.5em;
color: #f39c12 !important;

}

}

}

}

#ConteinerControler{

display: flex;
align-items: center;
justify-content: center;
gap: 1em;
position: absolute;
z-index: 2;
left: 0;
right: 0;
bottom: 0;
width: 100%;
padding-bottom: 1.5em;

text-align: center;

.focused{

background-color: #f39c12;
filter: drop-shadow(1px 1px 10px #87b7ff);

}

button{
cursor: pointer;
width: 45px;
display: inline-block;
height: 15px;
background-color: #fff;
border-radius: 2px;
border: 0;
outline: 0;  
}

}

}

}

}

#Perguntas{

display: block;
width: 100%;
padding: 6em 0;

#ConteinerPerguntas{

display: flex;
flex-direction: column;
align-items: center;
padding: 0 40px;

#ConteinerTitlePerguntas{

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 6em;
width: 50%;

.BoxText{

padding: 0 20px;
font-family: var(--fontTitle);
color: #000;
text-align: center;

h1{
font-size: 2.5em;
font-weight: 800;
}

p{
font-size: 1em;
opacity: 0.8;
}

}

}

.ConteienerBoxPerguntas{

display: flex;
align-items: top;
justify-content: center;
width: 100%;

#BoxPerguntas{

flex: 0 0 50%;
width: 50%;


}

#conteinerImg{

flex: 0 0 50%;
width: 50%;


.BoxImagem{

display: flex;
justify-content: center;
padding: 0 20px;

img{
width: 100%;
max-width: 300px;
height: auto;
}

}

}

}

}

}

#Contato{

padding: 3em 0;
width: 100%;

#ConteinerContato{

display: flex;
align-items: center;
flex-direction: column;
padding: 0 40px;

.ConteinerCabecalho{

width: 50%;

.BoxText{

padding: 0 20px;
font-family: var(--fontTitle);
color: #000;
text-align: center;

h1{
font-size: 2.5em;
font-weight: 800;
margin-bottom: 0.5em;
}

p{
font: 1em;
opacity: 0.8;
}

}

}

.ConteinerInfo{

width: 100%;
margin-top:6em;

.BoxInfo{

display: flex;
padding: 20px;

.InfoContato{

flex: 0 0 43.333333%;
max-width: 43.333333%;

.ElementInfo{

display: flex;
width: 100%;
margin: 0 0 30px;
overflow: hidden;

span{
font-size: 30px;
color: #2273f8;
border: 1.2px solid #2273f8;
border-radius: 4px;
width: 55px;
height: 55px;
display: inline-block;
line-height: 55px;
text-align: center;
}

.ConteinerText{

font-family: var(--fontTitle);
padding: 0 10px;

p{
font-weight: 500;
font-size: 1em;
color: #555;
}
    
}
    
}
    
}

.ConteinerForm{

padding: 0 10px;
margin: 0 -15px;

form *{

display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;  
}

form{

display: flex;
gap: 1em;
flex-wrap: wrap;
flex: 0 0 100%;
max-width: 100%;

input{
height: 50px;
border: 1px solid #e6f0fa;
font-size: 1em;
}

textarea{
border: 1px solid #495057;
padding-top: 12px;
font-size: 14px;
}

button{

max-width: 100px;
background-color: #2273f8;
border: 0;
color: #fff;
padding: 10px 30px;
border-radius: 4px;
outline: 0;
cursor: pointer;
}

}

}


}

}

}

}


footer{

width: 100%;
padding: 45px 0 !important;
background-color: #1c1c1c;
overflow: hidden;

#ConteinerFooter{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

padding: 0 40px;
color: #fff;
line-height: 3;
font-family: var(--fontTitle);

h4{

font-size: 1.5em;

}

.BoxRedeSocial{

display: flex;

span{

display: block;
background-color: #2273f8;
color: #fff;
border-radius: 50%;
width: 45px;
height: 45px;
font-size: 16px;
line-height: 45px;
margin: 0 5px;
text-align: center;

}

}

p{
font-size: 1em;
line-height: 1.5;
margin-top: 40px;
}

}

}

//Home (tblet)
@media screen and (max-width: 845px) {

#Home #ConteinerHome #BoxHome .ConteinerText .BoxText{

margin: 0 -35px;

}

}

//Sobre (tblet)
@media screen and (max-width: 845px) {

#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre{

padding: 0 10px;
}
    
}

//service (tblet)
@media screen and (max-width: 845px) {

#Servicos #ConteinerServicos .ConteinerCabecalho{

width: 70%;
}

}

//Produtos (tblet)
@media screen and (max-width: 845px) {

#Produto #ConteinerProduto{
    
.ConteinerCabecalhoProduto{
width: 70%;
}

}
}

//review (tblet)
@media screen and (max-width: 845px) {

#Reviews #ConteinerReviews{

.ConteinerCabecalo{

width: 70%;

}

.ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText{

width: 70%;

}
}
}

//perguntas (tblet)
@media screen and (max-width: 845px) {}

//Contato (tblet)
@media screen and (max-width: 845px) {}


//Home
@media screen and (max-width: 760px) {
   
#Home #ConteinerHome{

padding: 20px;

#BoxHome{

flex-direction: column;

.ConteinerText{

width: 100%;

.BoxText{

text-align: center;
padding: 40px 10px;
margin: 0;
margin-bottom: 1em;

h1{
font-size: 2.5em;
}


button{

margin-top: 3em;

}

}

}

.ConteinerImage{

width: 100%;

.BoxImagem{

padding: 0 40px;
display: flex;
justify-content: center;

img{

width: 100%;
height: auto;

}

}

}

}

}

}

//Sobre
@media screen and (max-width: 760px) {

#Sobre #ConteinerSobre{
flex-direction: column;

.ConteinerTextSobre{
    
width: 100%;
margin-bottom: 3em;

.BoxTextSobre{

padding: 0 20px;
line-height: 3.5;
text-align: center;

h3{
font-size: 1.5em;
color: #2273f8;
line-height: 1;
}

h1{
font-size: 2em;
font-weight: 800;
line-height: 1.4;
margin: 0 0 10px
}

p{
font-size: 1em;
opacity: 0.8;
line-height: 1.5;
}

ul{

padding-top: 1em;
line-height: 2;

li{
font-size: 1em;
font-weight: bold;

}

}


}
}

.ConteinerImgSobre{

width: 100%;

.BoxImgSobre{

padding: 0 20px;
margin: 0 -20px;

img{

max-width: 100%;
height: auto;
border-radius: 20px;

}

}

}

}

}

//service
@media screen and (max-width: 760px) {

#Servicos #ConteinerServicos{

padding: 0 20px;

.ConteinerCabecalho{

width: 100%;
padding: 0 20px;

.BoxTextCabecalho{

text-align: center;
padding: 0;

h1{

font-size: 2em;
font-weight: 800;


}

p{
font-size: 1em;
opacity: 0.8;
}

}

}

.ConteinerService{

padding: 3em 40px;

.BoxService{

display: flex;
flex-wrap: wrap;
margin: 0 -20px;
}



}

}

}

//Produtos
@media screen and (max-width: 760px) {

#Produto #ConteinerProduto{

padding: 0 10px;

.ConteinerCabecalhoProduto{

width: 100%;
margin-bottom: 3em;

.BoxTextProduto{

padding: 0 20px;

h1{
font-weight: 800;
font-size: 2em;
line-height: 1.3;
padding-bottom: 0.5em;

}

p{
font-size: 1em;
opacity: 0.8;
line-height: 1.5;

}

}

}
}


}

//Review
@media screen and (max-width: 760px) {

#Reviews #ConteinerReviews{

padding: 0 20px;

.ConteinerCabecalo{

width: 100%;

.BoxText{

padding: 0 20px;

}

}

.ConteinerReview{


#ConteinerCarrosel .SlideReview .BoxSlides{


.conteinerPerfil{

padding: 0 10px;
line-height: 1.5;
padding-bottom: 1em;

img{

width: 80%;
border-radius: 50%;
height: auto;

}

h3{
font-size: 1.5em;
font-weight: 600;
margin: 0;
}

h5{
font-size: 1em;
opacity: 0.8;
}

}

.ConteinerText{

width: 100%;

.BoxText{

padding: 0 10px;

}

}


}

}

}

#ConteinerControler{

button{
width: 55px; 
}

}

}



//Perguntas
@media screen and (max-width: 760px) {

#Perguntas #ConteinerPerguntas{

padding: 0 20px;

#ConteinerTitlePerguntas{

width: 100%;

.BoxText{
padding: 0 20px;

}

}

.ConteienerBoxPerguntas{

flex-direction: column;

#BoxPerguntas{

display: flex;
flex-direction: column;
align-items: center;
width: 100%;
margin-bottom: 3em;

}

#conteinerImg{

flex: 0 0 100%;
width: 100%;


.BoxImagem{

padding: 0 40px;

img{
width: 100%;
max-width: 300px;
height: auto;
}

}

}

}
}
}


//Contato
@media screen and (max-width: 760px) {

#Contato #ConteinerContato{

.ConteinerCabecalho{

width: 100%;

.BoxText{

padding: 0 10px;
margin: 0 -15px;


h1{
font-size: 2.5em;
font-weight: 800;
}

p{
font: 1em;
opacity: 0.8;
}

}

}

.ConteinerInfo .BoxInfo{

flex-direction: column;

.InfoContato{

flex: 0 0 100%;
max-width: 100%;

.ElementInfo{

display: flex;
width: 100%;
margin: 0 0 30px;
overflow: hidden;

span{
font-size: 30px;
color: #2273f8;
border: 1.2px solid #2273f8;
border-radius: 4px;
width: 55px;
height: 55px;
display: inline-block;
line-height: 55px;
text-align: center;
}

.ConteinerText{

font-family: var(--fontTitle);
padding: 0 10px;

p{
font-weight: 500;
font-size: 1em;
color: #555;
}
    
}
    
}
    
}

.ConteinerForm{


form{

gap: 1.5em;
flex: 0 0 100%;
max-width: 100%;

}

}
}

}

}
