#Home {
  background-image: url("../../asset/banner-1.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  width: 100%;
  padding: 6em 0;
}
#Home #ConteinerHome {
  padding: 0 40px;
}
#Home #ConteinerHome #BoxHome {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
#Home #ConteinerHome #BoxHome .ConteinerText {
  display: flex;
  font-family: var(--fontTitle);
  color: #fff;
  width: 50%;
}
#Home #ConteinerHome #BoxHome .ConteinerText .BoxText {
  padding: 0 10px;
}
#Home #ConteinerHome #BoxHome .ConteinerText .BoxText h1 {
  font-size: 3.5em;
  font-weight: 800;
  line-height: 1.1;
}
#Home #ConteinerHome #BoxHome .ConteinerText .BoxText p {
  font-size: 1em;
  opacity: 0.8;
  margin-top: 0.5em;
  line-height: 2;
}
#Home #ConteinerHome #BoxHome .ConteinerText .BoxText button {
  background-color: #131a48;
  color: #fff;
  padding: 1em 2em;
  border-radius: 30px;
  border: none;
  display: inline-block;
  font-weight: 600;
  margin-top: 3em;
}
#Home #ConteinerHome #BoxHome .ConteinerText .BoxText button i {
  font-size: 2em;
}
#Home #ConteinerHome #BoxHome .ConteinerImage {
  width: 50%;
}
#Home #ConteinerHome #BoxHome .ConteinerImage .BoxImagem {
  padding: 0 40px;
  display: flex;
  justify-content: center;
}
#Home #ConteinerHome #BoxHome .ConteinerImage .BoxImagem img {
  width: 100%;
  height: auto;
}

#Sobre {
  padding: 6em 0;
  width: 100%;
}
#Sobre #ConteinerSobre {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#Sobre #ConteinerSobre .ConteinerTextSobre {
  width: 50%;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre {
  padding: 0 40px;
  line-height: 3.5;
  font-family: var(--fontTitle);
  color: #000;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre h3 {
  font-size: 1.5em;
  color: #2273f8;
  line-height: 1;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.4;
  margin: 0 0 10px;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre p {
  font-size: 1em;
  opacity: 0.8;
  line-height: 1.5;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre ul {
  padding-top: 1em;
  line-height: 2;
}
#Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre ul li {
  font-size: 1em;
  font-weight: bold;
}
#Sobre #ConteinerSobre .ConteinerImgSobre {
  width: 50%;
}
#Sobre #ConteinerSobre .ConteinerImgSobre .BoxImgSobre {
  padding: 0 20px;
}
#Sobre #ConteinerSobre .ConteinerImgSobre .BoxImgSobre img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#Servicos {
  padding: 6em 0;
  width: 100%;
}
#Servicos #ConteinerServicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
#Servicos #ConteinerServicos .ConteinerCabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 3em;
}
#Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho {
  text-align: center;
  flex-wrap: wrap;
  padding: 0 20px;
  line-height: 1.5;
  font-family: var(--fontTitle);
  color: #000;
}
#Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho h1 {
  font-size: 2.5em;
  font-weight: 800;
}
#Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho p {
  font-size: 1em;
  opacity: 0.8;
}
#Servicos #ConteinerServicos .ConteinerService {
  padding: 3em 20px;
}
#Servicos #ConteinerServicos .ConteinerService .BoxService {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

#Produto {
  padding: 3em 0;
  width: 100%;
}
#Produto #ConteinerProduto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
#Produto #ConteinerProduto .ConteinerCabecalhoProduto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 3em;
}
#Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto {
  padding: 0 20px;
  font-family: var(--fontTitle);
  color: #000;
  text-align: center;
  line-height: 2;
}
#Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto h1 {
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.3;
  padding-bottom: 0.5em;
}
#Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto p {
  font-size: 1em;
  opacity: 0.8;
  line-height: 1.5;
}
#Produto #ConteinerProduto .ConteinerProdutos {
  padding: 0 40px;
}
#Produto #ConteinerProduto .ConteinerProdutos .BoxProduto {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

#Reviews {
  padding: 6em 0;
  width: 100%;
  background-image: url("../../asset/banner-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#Reviews #ConteinerReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
#Reviews #ConteinerReviews .ConteinerCabecalo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  padding-bottom: 3.5em;
  margin: 0 -25px;
}
#Reviews #ConteinerReviews .ConteinerCabecalo .BoxText {
  color: #fff;
  text-align: center;
  font-family: var(--fontTitle);
  line-height: 2.5;
  padding: 0 40px;
}
#Reviews #ConteinerReviews .ConteinerCabecalo .BoxText h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 0.5em;
}
#Reviews #ConteinerReviews .ConteinerCabecalo .BoxText p {
  font-size: 1em;
  opacity: 0.8;
  line-height: 1.5;
}
#Reviews #ConteinerReviews .ConteinerReview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview {
  min-width: 100%;
  padding-bottom: 2em;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--fontTitle);
  line-height: 2;
  text-align: center;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil {
  padding: 0 10px;
  line-height: 1.5;
  padding-bottom: 1em;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil img {
  width: 80%;
  border-radius: 50%;
  height: auto;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil h5 {
  font-size: 1em;
  opacity: 0.8;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText {
  width: 50%;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText .BoxText {
  padding: 0 20px;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText .BoxText p {
  font-size: 1em;
  opacity: 0.8;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerStar {
  font-family: IcoFont !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  padding-top: 1.5em;
  color: #f39c12 !important;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerControler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#Reviews #ConteinerReviews .ConteinerReview #ConteinerControler button {
  cursor: pointer;
  width: 45px;
  display: inline-block;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 0;
  outline: 0;
}

#Perguntas {
  display: block;
  width: 100%;
  padding: 6em 0;
}
#Perguntas #ConteinerPerguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
#Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6em;
  width: 50%;
}
#Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas .BoxText {
  padding: 0 20px;
  font-family: var(--fontTitle);
  color: #000;
  text-align: center;
}
#Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas .BoxText h1 {
  font-size: 2.5em;
  font-weight: 800;
}
#Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas .BoxText p {
  font-size: 1em;
  opacity: 0.8;
}
#Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
}
#Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #BoxPerguntas {
  flex: 0 0 50%;
  width: 50%;
}
#Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg {
  flex: 0 0 50%;
  width: 50%;
}
#Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg .BoxImagem {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
#Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg .BoxImagem img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

#Contato {
  padding: 3em 0;
  width: 100%;
}
#Contato #ConteinerContato {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}
#Contato #ConteinerContato .ConteinerCabecalho {
  width: 50%;
}
#Contato #ConteinerContato .ConteinerCabecalho .BoxText {
  padding: 0 20px;
  font-family: var(--fontTitle);
  color: #000;
  text-align: center;
}
#Contato #ConteinerContato .ConteinerCabecalho .BoxText h1 {
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 0.5em;
}
#Contato #ConteinerContato .ConteinerCabecalho .BoxText p {
  font: 1em;
  opacity: 0.8;
}
#Contato #ConteinerContato .ConteinerInfo {
  width: 100%;
  margin-top: 6em;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo {
  display: flex;
  padding: 20px;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato {
  flex: 0 0 43.333333%;
  max-width: 43.333333%;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo {
  display: flex;
  width: 100%;
  margin: 0 0 30px;
  overflow: hidden;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo span {
  font-size: 30px;
  color: #2273f8;
  border: 1.2px solid #2273f8;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  display: inline-block;
  line-height: 55px;
  text-align: center;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo .ConteinerText {
  font-family: var(--fontTitle);
  padding: 0 10px;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo .ConteinerText p {
  font-weight: 500;
  font-size: 1em;
  color: #555;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm {
  padding: 0 10px;
  margin: 0 -15px;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form * {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form input {
  height: 50px;
  border: 1px solid #e6f0fa;
  font-size: 1em;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form textarea {
  border: 1px solid #495057;
  padding-top: 12px;
  font-size: 14px;
}
#Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form button {
  max-width: 100px;
  background-color: #2273f8;
  border: 0;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 45px 0 !important;
  background-color: #1c1c1c;
  overflow: hidden;
}
footer #ConteinerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  color: #fff;
  line-height: 3;
  font-family: var(--fontTitle);
}
footer #ConteinerFooter h4 {
  font-size: 1.5em;
}
footer #ConteinerFooter .BoxRedeSocial {
  display: flex;
}
footer #ConteinerFooter .BoxRedeSocial span {
  display: block;
  background-color: #2273f8;
  color: #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  margin: 0 5px;
  text-align: center;
}
footer #ConteinerFooter p {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 40px;
}

@media screen and (max-width: 760px) {
  #Home #ConteinerHome {
    padding: 20px;
  }
  #Home #ConteinerHome #BoxHome {
    flex-direction: column;
  }
  #Home #ConteinerHome #BoxHome .ConteinerText {
    width: 100%;
  }
  #Home #ConteinerHome #BoxHome .ConteinerText .BoxText {
    text-align: center;
    padding: 40px 10px;
    margin-bottom: 1em;
  }
  #Home #ConteinerHome #BoxHome .ConteinerText .BoxText h1 {
    font-size: 2.5em;
  }
  #Home #ConteinerHome #BoxHome .ConteinerText .BoxText button {
    margin-top: 3em;
  }
  #Home #ConteinerHome #BoxHome .ConteinerImage {
    width: 100%;
  }
  #Home #ConteinerHome #BoxHome .ConteinerImage .BoxImagem {
    padding: 0 40px;
    display: flex;
    justify-content: center;
  }
  #Home #ConteinerHome #BoxHome .ConteinerImage .BoxImagem img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 760px) {
  #Sobre #ConteinerSobre {
    flex-direction: column;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre {
    width: 100%;
    margin-bottom: 3em;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre {
    padding: 0 10px;
    line-height: 3.5;
    text-align: center;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre h3 {
    font-size: 1.5em;
    color: #2273f8;
    line-height: 1;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre h1 {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.4;
    margin: 0 0 10px;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre p {
    font-size: 1em;
    opacity: 0.8;
    line-height: 1.5;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre ul {
    padding-top: 1em;
    line-height: 2;
  }
  #Sobre #ConteinerSobre .ConteinerTextSobre .BoxTextSobre ul li {
    font-size: 1em;
    font-weight: bold;
  }
  #Sobre #ConteinerSobre .ConteinerImgSobre {
    width: 100%;
  }
  #Sobre #ConteinerSobre .ConteinerImgSobre .BoxImgSobre {
    padding: 0 20px;
    margin: 0 -20px;
  }
  #Sobre #ConteinerSobre .ConteinerImgSobre .BoxImgSobre img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
@media screen and (max-width: 760px) {
  #Servicos #ConteinerServicos {
    padding: 0 20px;
  }
  #Servicos #ConteinerServicos .ConteinerCabecalho {
    width: 100%;
    padding: 0 20px;
  }
  #Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho {
    text-align: center;
    padding: 0;
  }
  #Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho h1 {
    font-size: 2em;
    font-weight: 800;
  }
  #Servicos #ConteinerServicos .ConteinerCabecalho .BoxTextCabecalho p {
    font-size: 1em;
    opacity: 0.8;
  }
  #Servicos #ConteinerServicos .ConteinerService {
    padding: 3em 40px;
  }
  #Servicos #ConteinerServicos .ConteinerService .BoxService {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
}
@media screen and (max-width: 760px) {
  #Produto #ConteinerProduto {
    padding: 0 10px;
  }
  #Produto #ConteinerProduto .ConteinerCabecalhoProduto {
    width: 100%;
    margin-bottom: 3em;
  }
  #Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto {
    padding: 0 20px;
  }
  #Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto h1 {
    font-weight: 800;
    font-size: 2em;
    line-height: 1.3;
    padding-bottom: 0.5em;
  }
  #Produto #ConteinerProduto .ConteinerCabecalhoProduto .BoxTextProduto p {
    font-size: 1em;
    opacity: 0.8;
    line-height: 1.5;
  }
}
@media screen and (max-width: 760px) {
  #Reviews #ConteinerReviews {
    padding: 0 20px;
  }
  #Reviews #ConteinerReviews .ConteinerCabecalo {
    width: 100%;
  }
  #Reviews #ConteinerReviews .ConteinerCabecalo .BoxText {
    padding: 0 20px;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil {
    padding: 0 10px;
    line-height: 1.5;
    padding-bottom: 1em;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil img {
    width: 80%;
    border-radius: 50%;
    height: auto;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .conteinerPerfil h5 {
    font-size: 1em;
    opacity: 0.8;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText {
    width: 100%;
  }
  #Reviews #ConteinerReviews .ConteinerReview #ConteinerCarrosel .SlideReview .BoxSlides .ConteinerText .BoxText {
    padding: 0 10px;
  }
  #ConteinerControler button {
    width: 55px;
  }
}
@media screen and (max-width: 760px) {
  #Perguntas #ConteinerPerguntas {
    padding: 0 20px;
  }
  #Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas {
    width: 100%;
  }
  #Perguntas #ConteinerPerguntas #ConteinerTitlePerguntas .BoxText {
    padding: 0 20px;
  }
  #Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas {
    flex-direction: column;
  }
  #Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #BoxPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
  }
  #Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg {
    flex: 0 0 100%;
    width: 100%;
  }
  #Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg .BoxImagem {
    padding: 0 40px;
  }
  #Perguntas #ConteinerPerguntas .ConteienerBoxPerguntas #conteinerImg .BoxImagem img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 760px) {
  #Contato #ConteinerContato .ConteinerCabecalho {
    width: 100%;
  }
  #Contato #ConteinerContato .ConteinerCabecalho .BoxText {
    padding: 0 10px;
    margin: 0 -15px;
  }
  #Contato #ConteinerContato .ConteinerCabecalho .BoxText h1 {
    font-size: 2.5em;
    font-weight: 800;
  }
  #Contato #ConteinerContato .ConteinerCabecalho .BoxText p {
    font: 1em;
    opacity: 0.8;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo {
    flex-direction: column;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo {
    display: flex;
    width: 100%;
    margin: 0 0 30px;
    overflow: hidden;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo span {
    font-size: 30px;
    color: #2273f8;
    border: 1.2px solid #2273f8;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    display: inline-block;
    line-height: 55px;
    text-align: center;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo .ConteinerText {
    font-family: var(--fontTitle);
    padding: 0 10px;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .InfoContato .ElementInfo .ConteinerText p {
    font-weight: 500;
    font-size: 1em;
    color: #555;
  }
  #Contato #ConteinerContato .ConteinerInfo .BoxInfo .ConteinerForm form {
    gap: 1.5em;
    flex: 0 0 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=StyleHome.module.css.map */